extends layout.pug

block content
	input.checkbox.text-center(type='checkbox', name='list', value='1')
	| Ciek
	input.checkbox.text-center(type='checkbox', name='list', value='2')
	| Duo
	form(method='GET')
		input.checkbox.text-center(type='checkbox', name='list', value='3')
		| Tigo
		input.checkbox.text-center(type='checkbox', name='list', value='4')
		| Ampek
		button.btn.btn-primary(type='submit') Kirim
	
