extends layout.pug

block content
	br
	fieldset
		legend
			h2 Data Status Produk
		a.btn.btn-success(href='#tambah')
			span.glyphicon.glyphicon-plus-sign
			|  Tambah status produk
		table.table.table-striped.table-bordered
			tr
				th No
				th Nama status produk
				th(colspan='2') Aksi
			- var no=1
			each lap in daftar_status_produk
				tr
					td #{no}
					td #{lap.nm_status_produk}
					td
						a.btn.btn-success(href='/kelola/status-produk/edit?id_status_produk='+lap.id_status_produk)
							span.glyphicon.glyphicon-edit
							|  Edit
						button.btn.btn-danger(type='button', data-toggle='modal', data-target='#konfirmasi'+lap.id_status_produk)
							span.glyphicon.glyphicon-remove
							|  Hapus
						.modal.fade(id='konfirmasi'+lap.id_status_produk, role='dialog')
							.modal-dialog
								.modal-content
									.modal-header
										button.close(type='button', data-dismiss='modal') ×
										h4.modal-title Peringatan!
									.modal-body
										p
											| Apakah Anda yakin ingin menghapus status produk 
											b #{lap.nm_status_produk}
											|  dari sistem?
									.modal-footer.float-right
										a.btn.btn-danger(href='/kelola/status-produk/hapus?id_status_produk='+lap.id_status_produk)     Ya    
										button.btn.btn-default(type='button', data-dismiss='modal') Tidak
				- no++
	br
	fieldset#tambah
		legend
			h2 Tambah Data Baru
		form(method='post', accept-charset='utf-8')
			.form-group
				label.label-control(for='Tnm_status_produk') Nama Status Produk 
				input#Tnm_status_produk.form-control(placeholder='Min. 3 karakter', type='text', name='Tnm_status_produk', value='') 
				button.btn.btn-success(type='submit')
					span.glyphicon.glyphicon-plus-sign
					|  Simpan
	
