extends layout.pug

block content
	script(src='soket.js')
	br
	br
	br
	button.btn.btn-primary#soket Test Buat Koneksi Ke Server
	br
	p#konten_soket(style="display : none;")
		Ini Adalah pengingat Jquery
	br
	br
	br
