<form method="POST" ng-submit="updateData()">
<input type="text" id="Tus" ng-model="Tus" placeholder="Username" /><br/>
<input type="password" id="Tps" ng-model="Tps" placeholder="Password" /><br/>
<input type="text" id="Tnm" ng-model="Tnm" placeholder="Nama Anda" /><br/>
<input type="text" id="Thp" ng-model="Thp" placeholder="Nomor Handphone" /><br/>
<input type="text" id="Tem" ng-model="Tem" placeholder="Email" /><br/>
<button type="submit">Simpan</button>
<button type="reset">Reset</button>
</form>
